<mat-toolbar>
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Gerenciamento de Pessoas</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li matTooltip="Ir para Lista">
                <a routerLink="/lista" class="d-flex align-items-center">
                    <mat-icon>list</mat-icon>
                    <span class="nav-caption">Lista</span>
                </a>
            </li>
            <li matTooltip="Ir para Cadastro">
                <a routerLink="/cadastro" class="d-flex align-items-center">
                    <mat-icon>assignment_ind</mat-icon>
                    <span class="nav-caption">Cadastro</span>
                </a>            
            </li>
        </ul>
    </div>
</mat-toolbar>
<ngx-loading-bar [height]="'5px'" [includeSpinner]="false" ></ngx-loading-bar>
